/* importes de fontes */
font-face {
    font-family: "Roboto-Thin";
    src: url(../fonts/Roboto/Roboto-Thin.ttf)
}
@font-face{
font-family: "Roboto-Light";
src: url(../fonts/Roboto/Roboto-Light.ttf) 
}
@font-face{
    font-family: "OpenSans_Condensed-Regular"; /* apelido */
    src: url(../fonts/Open_Sans/static/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf)
}

/* Reset de página */
*{
    margim 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: "OpenSans_Condensed-Regular";
    
}

/* CUSTOMIZAÇÃO GERAL DO BOOTSTRAP */

.container-grid {
    max-width: 1200px;
    margin: 0 auto;

    /* border: 1px solid salmon; */
}
.card {

    margin-bottom: 20px;
}


.header-flex { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  height: 85px;
}
header {
    
    background-color: #1e1c21;
    
   }

head .logo{
    
    /* border: 1px solid red; */
    width: 280px;
}
 header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /* border: 1px solid white; */
    width: 60%;
    height: 100%;

 }
  
 header .menu a {
    font-family: "Roboto-Light";
     color:  white;
     text-decoration: none;
     text-transform: uppercase;
 }

/* banner */

.banner{
    width: 100%;
    height: 600px;
    background-image: url(../images/banner_pilotos.png);
    background-size: cover;
    background-repeat: no-repeat;

    background-color: blueviolet;
    
}
/* centraliza a informação do banner */
.banner .banner-info-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 600px;

}
.banner .banner-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 300px;

    /* border: 1px solid white; */

}

.banner .banner-info .info-title{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}
.banner .banner-info .info-text{
    color: white;
    font-size: 22px;
    margin-top: -50px;
    text-align: center;
    

}
.banner .banner-info .info-link{
    border-radius: 10px;
  
    border: 1px solid #E71A3F;
    background-color: #E71A3F;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    width: 250px;
    height: 45px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* patrocinadores */
.patrocinados {
    background-color:#1e1c21 ;
}
.patrocinados-flex {
    display:flex;
    justify-content: space-between;
    align-items:center;

    /* background-color: #5c5858; */

}
/* *******PRODUTOS****** */

.produtos {
    background-color: #1e1c21;
}